
<div>
<div class="img-div">
    <img src="/images/beer.png" alt="Beer picture">
</div>
<div class="links-div">
     <ul>
         <li><a href="/beers">Check the Beers!</a></li>
          <li><a href="/random-beer">Get a Random Beer.</a></li>
    </ul>
</div>
</div>